<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.KGraph"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".DayGraph" />
        <activity android:name=".KGraph" />
        <activity android:name=".StockList" />
        <activity android:name=".StockDayDetails" />
        <activity android:name=".StockDayList" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".TradeRecordActivity"
            android:label="@string/title_activity_trade" >
        </activity>
        <activity
            android:name=".TradeActivity"
            android:label="@string/title_activity_trade" >
        </activity>
        <activity
            android:name=".TradeKActivity"
            android:label="@string/title_activity_trade" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
